
    <div ng-show="!result" class="container-fluid">Loading...</div>
    <div ng-show="result" class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="pull-left">
                    <section id="system" class="plugin">
                        <span class="title">Refresh time&nbsp;</span> <span class="hidden-xs hidden-sm">{{refreshTime}}s
                            <button ng-click="refreshTime = refreshTime - 1" ng-disabled="refreshTime <= 1">-</button>
                            <button ng-click="refreshTime = refreshTime + 1">+</button>
                        </span> 
                        
                        <span class="title">{{result["system"].hostname}}&nbsp;</span> <span class="hidden-xs hidden-sm">({{result["system"].os_name}} {{result["system"].os_version}} {{result["system"].platform}})</span>
                    </section>
                </div>
                <div class="pull-right">
                    <section id="uptime" class="plugin">
                        <span>Uptime: {{result["uptime"]}}</span>
                    </section>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3 col-lg-2">
                <section id="cpu" class="plugin">
                    <div class="table">
                        <div class="table-row">
                            <div class="table-cell text-left title">CPU</div>
                            <div class="table-cell">{{result["cpu"].total}}%</div>
                        </div>
                        <div class="table-row">
                            <div class="table-cell text-left">user:</div>
                            <div class="table-cell" ng-class="getClass('cpu', 'cpu_user_', result['cpu'].user, 1)">
                                {{result["cpu"].user}}%
                            </div>
                        </div>
                        <div class="table-row">
                            <div class="table-cell text-left">system:</div>
                            <div class="table-cell" ng-class="getClass('cpu', 'cpu_system_', result['cpu'].system, 1)">
                                {{result["cpu"].system}}%
                            </div>
                        </div>
                        <div class="table-row">
                            <div class="table-cell text-left">idle:</div>
                            <div class="table-cell">{{result["cpu"].idle}}%</div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-sm-3 col-lg-2">
                <section id="cpu_more" class="plugin" ng-show="result['cpu'].nice != undefined">
                    <div class="table">
                        <div class="table-row">
                            <div class="table-cell text-left">nice:</div>
                            <div class="table-cell">
                                {{result["cpu"].nice}}%
                            </div>
                        </div>
                        <div class="table-row">
                            <div class="table-cell text-left">irq:</div>
                            <div class="table-cell">
                                {{result["cpu"].irq}}%
                            </div>
                        </div>
                        <div class="table-row">
                            <div class="table-cell text-left">iowait:</div>
                            <div class="table-cell" ng-class="getClass('cpu', 'cpu_iowait_', result['cpu'].iowait, 1)">
                                {{result["cpu"].iowait}}%
                            </div>
                        </div>
                        <div class="table-row">
                            <div class="table-cell text-left">steal:</div>
                            <div class="table-cell" ng-class="getClass('cpu', 'cpu_steal_', result['cpu'].steal, 0)">
                                {{result["cpu"].steal}}%
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-sm-3 col-lg-2"><!-- col-lg-2 col-lg-offset-1 -->
                <section id="loading" class="plugin" ng-show="result['load'].cpucore != undefined">
                    <div class="table">
                        <div class="table-row">
                            <div class="table-cell text-left title">LOAD</div>
                            <div class="table-cell">{{result["load"].cpucore}}-core</div>
                        </div>
                        <div class="table-row">
                            <div class="table-cell text-left">1 min:</div>
                            <div class="table-cell">
                                {{result["load"].min1}}
                            </div>
                        </div>
                        <div class="table-row">
                            <div class="table-cell text-left">5 min:</div>
                            <div class="table-cell" ng-class="getClass('load', 'load_', result['load'].min5, 0)">
                                {{result["load"].min5}}
                            </div>
                        </div>
                        <div class="table-row">
                            <div class="table-cell text-left">15 min:</div>
                            <div class="table-cell" ng-class="getClass('load', 'load_', result['load'].min15, 1)">
                                {{result["load"].min15}}
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-sm-3 col-lg-2">
                <section id="mem" class="plugin">
                    <div class="table">
                        <div class="table-row">
                            <div class="table-cell text-left title">MEM</div>
                            <div class="table-cell">{{result["mem"].percent}}%</div>
                        </div>
                        <div class="table-row">
                            <div class="table-cell text-left">total:</div>
                            <div class="table-cell">{{result["mem"].total | bytes:2}}</div>
                        </div>
                        <div class="table-row">
                            <div class="table-cell text-left">used:</div>
                            <div class="table-cell" ng-class="getClass('mem', 'mem_', result['mem'].percent, 1)">
                                {{result["mem"].used | bytes:2}}
                            </div>
                        </div>
                        <div class="table-row">
                            <div class="table-cell text-left">free:</div>
                            <div class="table-cell">{{result["mem"].free | bytes:2}}</div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-sm-3 col-lg-2">
                <section id="mem_more" class="plugin">
                    <div class="table">
                        <div class="table-row">
                            <div class="table-cell text-left">active:</div>
                            <div class="table-cell">{{result["mem"].active | bytes:2}}</div>
                        </div>
                        <div class="table-row">
                            <div class="table-cell text-left">inactive:</div>
                            <div class="table-cell">{{result["mem"].inactive | bytes:2}}</div>
                        </div>
                        <div class="table-row">
                            <div class="table-cell text-left">buffers:</div>
                            <div class="table-cell">{{result["mem"].buffers | bytes:2}}</div>
                        </div>
                        <div class="table-row">
                            <div class="table-cell text-left">cached:</div>
                            <div class="table-cell">{{result["mem"].cached | bytes:2}}</div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-sm-3 col-lg-2   ">
                <section id="memswap" class="plugin">
                    <div class="table">
                        <div class="table-row">
                            <div class="table-cell text-left title">SWAP</div>
                            <div class="table-cell">{{result["memswap"].percent}}%</div>
                        </div>
                        <div class="table-row">
                            <div class="table-cell text-left">total:</div>
                            <div class="table-cell">{{result["memswap"].total | bytes:2}}</div>
                        </div>
                        <div class="table-row">
                            <div class="table-cell text-left">used:</div>
                            <div class="table-cell" ng-class="getClass('memswap', 'memswap_', result['memswap'].percent, 1)">
                                {{result["memswap"].used | bytes:2}}
                            </div>
                        </div>
                        <div class="table-row">
                            <div class="table-cell text-left">free:</div>
                            <div class="table-cell">{{result["memswap"].free | bytes:2}}</div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3" ng-show="show.sidebar">
                <section id="network" class="plugin" ng-show="show.network">
                    <div class="table">
                        <div class="table-row">
                            <div class="table-cell text-left title">NETWORK</div>
                            <div class="table-cell">Rx/s</div>
                            <div class="table-cell">Tx/s</div>
                        </div>
                        <div class="table-row" ng-repeat="network in result['network']">
                            <div class="table-cell text-left">{{network.interface_name | min_size}}</div>
                            <div class="table-cell" ng-if="networkSortByBytes">{{network.rx | bytes}}</div>
                            <div class="table-cell" ng-if="networkSortByBytes">{{network.tx | bytes}}</div>
                            <div class="table-cell" ng-if="!networkSortByBytes">{{network.rx | bits}}</div>
                            <div class="table-cell" ng-if="!networkSortByBytes">{{network.tx | bits}}</div>
                        </div>
                    </div>
                </section>

                <section id="diskio" class="plugin" ng-show="show.diskio">
                    <div class="table">
                        <div class="table-row">
                            <div class="table-cell text-left title">DISK I/O</div>
                            <div class="table-cell">R/s</div>
                            <div class="table-cell">W/s</div>
                        </div>
                        <div class="table-row" ng-repeat="disk in result['diskio']">
                            <div class="table-cell text-left">{{disk.disk_name | min_size}}</div>
                            <div class="table-cell">{{disk.read_bytes | bytes}}</div>
                            <div class="table-cell">{{disk.write_bytes | bytes}}</div>
                        </div>
                    </div>
                </section>
                <section id="fs" class="plugin" ng-show="show.fs">
                    <div class="table">
                        <div class="table-row">
                            <div class="table-cell text-left title">FILE SYS</div>
                            <div class="table-cell">Used</div>
                            <div class="table-cell">Total</div>
                        </div>
                        <div class="table-row" ng-repeat="fs in result['fs']">
                            <div class="table-cell text-left">{{fs.mnt_point}} ({{fs.device_name}})</div>
                            <div class="table-cell" ng-class="getClass('fs', 'fs_', fs.percent, 0)">
                                {{fs.size - fs.free | bytes}}
                            </div>
                            <div class="table-cell">{{fs.size | bytes}}</div>
                        </div>
                    </div>
                </section>
                <section id="sensors" class="plugin" ng-show="show.sensors && result['sensors'].length > 0">
                    <div class="table">
                        <div class="table-row">
                            <div class="table-cell text-left title">SENSORS</div>
                            <div class="table-cell">&#176;C</div>
                        </div>
                        <div class="table-row" ng-repeat="sensor in result['sensors']">
                            <div class="table-cell text-left">{{sensor.label}}</div>
                            <div class="table-cell" ng-class="getClass('sensors', 'sensors_' + sensor.type + '_', sensor.value, 0)">{{sensor.value}}</div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-sm-9">
                <section id="containers" class="plugin">
                    <span class="title">CONTAINERS</span> 1 (served by 1.2.0)
                </section>
                <section id="alert" class="plugin" ng-show="show.alert">
                    <div class="table">
                        <div class="table-row">
                            <div class="table-cell text-left title" ng-show="!result['alert'].length">No warning or critical alert detected</div>
                            <div class="table-cell text-left title" ng-repeat="alert in result['alert']">{{alert}}</div>
                        </div>
                    </div>
                </section>

                <section id="processcount" class="plugin">
                    <span class="title">TASKS</span> {{result["processcount"].total}} ({{result["processcount"].thread}} thr), {{result["processcount"].running}} run,
                        {{result["processcount"].sleeping}} slp, {{result["processcount"].stopped}} oth <span ng-show="!sortColumn"> sorted automatically </span> <span ng-show="!sortColumn"> by cpu_percent, flat view </span>
                </section>

                <div class="row">
                    <div class="col-sm-9"></div>
                </div>

                <section id="processlist" class="plugin">
                    <div class="table">
                        <div class="table-row">
                            <div id="column_cpu_percent"     ng-click="sort_by('cpu_percent')"    class="table-cell sort sort_desc">CPU%</div>
                            <div id="column_memory_percent"  ng-click="sort_by('memory_percent')" class="table-cell">MEM%</div>
                            <div id="column_memvirt"         ng-click="sort_by('memvirt')"        class="table-cell hidden-xs hidden-sm">VIRT</div>
                            <div id="column_memres"          ng-click="sort_by('memres')"         class="table-cell hidden-xs hidden-sm">RES</div>
                            <div id="column_pid"             ng-click="sort_by('pid')"            class="table-cell">PID</div>
                            <div id="column_username"        ng-click="sort_by('username')"       class="table-cell">USER</div>
                            <div id="column_nice"            ng-click="sort_by('nice')"           class="table-cell">NI</div>
                            <div id="column_status"          ng-click="sort_by('status')"         class="table-cell">S</div>
                            <div id="column_timemillis"      ng-click="sort_by('timemillis')"     class="table-cell hidden-xs hidden-sm">TIME+</div>
                            <div id="column_io_read"         ng-click="sort_by('io_read')"        class="table-cell hidden-xs hidden-sm">IOR/s</div>
                            <div id="column_io_write"        ng-click="sort_by('io_write')"       class="table-cell hidden-xs hidden-sm">IOW/s</div>
                            <div id="column_name"            ng-click="sort_by('name')"           class="table-cell">Command</div>
                        </div>
                        <div class="table-row" ng-repeat="process in result['processlist'] | orderBy:sortColumn:!sortOrderAsc">
                            <div class="table-cell" ng-class="getClass('processlist', 'processlist_cpu_', process.cpu_percent, 0)">{{process.cpu_percent | number:1}}</div>
                            <div class="table-cell" ng-class="getClass('processlist', 'processlist_mem_', process.memory_percent, 0)">{{process.memory_percent | number:1}}</div>
                            <div class="table-cell hidden-xs hidden-sm">{{process.memvirt | bytes:1}}</div>
                            <div class="table-cell hidden-xs hidden-sm">{{process.memres | bytes:1}}</div>
                            <div class="table-cell">{{process.pid}}</div>
                            <div class="table-cell text-left">{{process.username}}</div>
                            <div class="table-cell">{{process.nice | exclamation}}</div>
                            <div class="table-cell status">{{process.status}}</div>
                            <div class="table-cell hidden-xs hidden-sm">{{process.timeformatted}}</div>
                            <div class="table-cell hidden-xs hidden-sm">{{process.io_read | bytes}}</div>
                            <div class="table-cell hidden-xs hidden-sm">{{process.io_write | bytes}}</div>
                            <div class="table-cell text-left">{{process.name}}</div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
