<div ng-show="!dataLoaded" class="container-fluid" id="loading-page">
    <div class="glances-logo"></div>
    <div class="loader">Loading...</div>
</div>

<div ng-show="help_screen" class="container-fluid" ng-include src="'help.html'"></div>

<div ng-show="dataLoaded && !help_screen" class="container-fluid">
    <div class="row">
        <div class="col-sm-24">
            <div class="pull-left">
                <section id="system" class="plugin" ng-include src="'plugins/system.html'"></section>
            </div>
            <div class="pull-left">
                <section id="ip" class="plugin" ng-if="statsIp.address != undefined" ng-include src="'plugins/ip.html'"></section>
            </div>
            <div class="pull-right">
                <section id="uptime" class="plugin" ng-include src="'plugins/uptime.html'"></section>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="hidden-xs hidden-sm hidden-md col-lg-6" ng-show="show.quick_look">
            <section id="quicklook" class="plugin" ng-include src="'plugins/quicklook.html'"></section>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3" ng-show="!show.per_cpu">
            <section id="cpu" class="plugin" ng-include src="'plugins/cpu.html'"></section>
        </div>
        <div class="hidden-xs hidden-sm col-md-4 col-lg-3" ng-show="!show.per_cpu">
            <section id="cpu_more" class="plugin" ng-if="statsCpu.nice != undefined" ng-include src="'plugins/cpu_more.html'"></section>
        </div>
        <div class="col-sm-12 col-md-8 col-lg-6" ng-show="show.per_cpu">
            <section id="per_cpu" class="plugin" ng-include src="'plugins/per_cpu.html'"></section>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <section id="mem" class="plugin" ng-include src="'plugins/mem.html'"></section>
        </div>
        <div class="hidden-xs hidden-sm col-md-4 col-lg-3">
            <section id="mem_more" class="plugin" ng-include src="'plugins/mem_more.html'"></section>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <section id="memswap" class="plugin" ng-include src="'plugins/memswap.html'"></section>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <section id="load" class="plugin" ng-if="statsLoad.cpucore != undefined" ng-include src="'plugins/load.html'"></section>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 sidebar" ng-show="show.sidebar">
            <div class="table">
                <section id="network" class="plugin table-row-group" ng-show="show.network" ng-include src="'plugins/network.html'"></section>
                <section id="diskio" class="plugin table-row-group" ng-show="show.diskio" ng-include src="'plugins/diskio.html'"></section>
                <section id="fs" class="plugin table-row-group" ng-show="show.fs" ng-include src="'plugins/fs.html'"></section>
                <section id="raid" class="plugin table-row-group" ng-show="statsRaid.hasDisks()" ng-include src="'plugins/raid.html'"></section>
                <section id="sensors" class="plugin table-row-group" ng-show="show.sensors && statsSensors.sensors.length > 0" ng-include src="'plugins/sensors.html'"></section>
            </div>
        </div>
        <div class="col-sm-18">
            <section id="containers" class="plugin" ng-show="statsDocker.containers.length && show.docker_stats" ng-include src="'plugins/docker.html'"></section>
            <section id="alerts" ng-show="show.alert" ng-include src="'plugins/alerts.html'"></section>
            <section id="alert" class="plugin" ng-show="show.alert" ng-include src="'plugins/alert.html'"></section>
            <div ng-show="show.process_stats">
                <section id="processcount" class="plugin" ng-include src="'plugins/processcount.html'"></section>
                <div class="row">
                    <div class="col-lg-18">
                        <section id="monitor" class="plugin" ng-include src="'plugins/monitor.html'"></section>
                    </div>
                </div>
                <section id="processlist" class="plugin" ng-include src="'plugins/processlist.html'"></section>
            </div>
            <div ng-show="!show.process_stats">PROCESSES DISABLED (press 'z' to display)</div>
        </div>
    </div>
</div>
