<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Glances</title>

  <link rel="icon" type="image/x-icon" href="static/favicon.ico" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap" rel="stylesheet" />
  <script>
    window.__GLANCES__ = {
      'refresh-time': '{{ refresh_time }}'
    }
  </script>
  <script src="static/glances.js" defer></script>
</head>

<body>
  <div id="app"></div>
</body>

</html>
