# Ignore everything
*

# Include only code files
!/glances/**/*.py

# Include WebUI files (remove when webui moved to seperate package)
!/glances/outputs/static

# Include Requirements files
!/requirements.txt
!/docker-requirements.txt
!/webui-requirements.txt
!/optional-requirements.txt

# Include Config file
!/docker-compose/glances.conf
!/docker-files/docker-logger.json

# Include Binary file
!/docker-bin.sh
