include AUTHORS
include CONTRIBUTING.md
include COPYING
include NEWS.rst
include README.rst
include SECURITY.md
include conf/glances.conf
include requirements.txt
recursive-include docs *
recursive-include glances *.py
recursive-include glances/outputs/static *
