include AUTHORS
include COPYING
include NEWS
include README.rst
include conf/glances.conf
include glances/data/css/*.css
include glances/data/html/*.html
include glances/data/img/*.png
include man/glances.1
recursive-include docs images/*.png glances-doc.html
recursive-include i18n *.mo
prune docs/_build
