batinfo
bernhard
bottle
cassandra-driver
couchdb
docker
elasticsearch
influxdb
matplotlib
netifaces
nvidia-ml-py
pika
potsdb
py-cpuinfo
pymdstat
pysnmp
pystache
pyzmq
requests
scandir; python_version < "3.5"
statsd
wifi
zeroconf
https://bitbucket.org/gleb_zhulik/py3sensors/get/tip.zip
