// Theme

.title {
    font-weight: bold;
}
.highlight {
    font-weight: bold !important;
    color: #5D4062 !important;
}
.ok, .status, .process {
    color: #3E7B04 !important;
}
.ok_log {
    background-color: #3E7B04 !important;
    color: white !important;
}
.max {
    color: #3E7B04 !important;
    font-weight: bold !important;
}
.careful {
    color: #295183 !important;
    font-weight: bold !important;
}
.careful_log {
    background-color: #295183 !important;
    color: white !important;
    font-weight: bold !important;
}
.warning, .nice {
    color: #5D4062 !important;
    font-weight: bold !important;
}
.warning_log {
    background-color: #5D4062 !important;
    color: white !important;
    font-weight: bold !important;
}
.critical {
    color: #A30000 !important;
    font-weight: bold !important;
}
.critical_log {
    background-color: #A30000 !important;
    color: white !important;
    font-weight: bold !important;
}
.error {
    color: #EE6600 !important;
    font-weight: bold !important;
}

// Table

.table {
    margin-bottom: 0px;
}

.margin-top {
    margin-top: 0.5em;
}

.margin-bottom {
    margin-bottom: 0.5em;
}

.table-sm > :not(caption) > * > * {
    padding-top: 0em;
    padding-right: 0.25rem;
    padding-bottom: 0em;
    padding-left: 0.25rem;
}

// Text

.sort {
    font-weight: bold;
    color: white;
}

.sortable {
    cursor: pointer;
    text-decoration: underline;
}

.text-truncate {
    // display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

// Separator

.separator {
    overflow: hidden;
    height: 5px;
}

.separator:after {
    content: '';
    display: block;
    margin: -25px auto 0;
    width: 100%;
    height: 24px;
    border-radius: 125px / 12px;
    box-shadow: 0 0 8px #555555;
}

// Plugins

#system {
    span {
        padding-left: 10px;
    }
    span:nth-child(1) {
        padding-left: 0px;
    }
}


#ip {
    span {
        padding-left: 10px;
    }
}

#quicklook {
    span {
        padding: 0;
        margin: 0;
        padding-left: 10px;
    }
    span:nth-child(1) {
        padding-left: 0px;
    }
    * > th, td {
        margin: 0;
        padding: 0;
    }
    * > th:nth-child(1), td:nth-child(1) {
        width: 4em;
    }
    * > th:nth-last-child(1), td:nth-last-child(1) {
        width: 4em;
    }
    .progress {
        min-width: 100px;
        background-color: #000;
        height: 1.5em;
        border-radius: 0px;
        text-align: right;
    }
    .progress-bar-ok {
        background-color: #3E7B04;

    }
    .progress-bar-careful {
        background-color: #295183;
    }
    .progress-bar-warning {
        background-color: #5D4062;
    }
    .progress-bar-critical {
        background-color: #A30000;
    }
    .cpu-name {
        white-space: nowrap;
        overflow: hidden;
        width: 100%;
        text-overflow: ellipsis;
    }
}

#vms {
    .table {
        margin-bottom: 1em;
    }
    * > th:not(:last-child), td:not(:last-child) {
        width: 4em;
    }
    * > td:nth-child(2) {
        width: 15em;
    }
    * > td:nth-child(3) {
        width: 6em;
    }
    * > td:nth-child(5) {
        text-align: right;
    }
    * > td:nth-child(7) {
        width: 10em;
    }
}

#containers {
    .table {
        margin-bottom: 1em;
    }
    * > th:not(:last-child), td:not(:last-child) {
        width: 4em;
    }
    * > td:nth-child(1) {
        width: 10em;
    }
    * > td:nth-child(2), td:nth-child(3) {
        width: 15em;
    }
    * > td:nth-child(4), td:nth-child(5) {
        width: 6em;
    }
    * > td:nth-child(7), td:nth-child(9), td:nth-child(11) {
        text-align: right;
    }
}

#processcount {
    span {
        padding-left: 10px;
    }
    span:nth-child(1) {
        padding-left: 0px;
    }
}

#amps {
    .process-result {
        max-width: 300px;
        overflow: hidden;
        white-space: pre-wrap;
        padding-left: 10px;
        text-overflow: ellipsis;
    }
    .table {
        margin-bottom: 1em;
    }
}

#processlist {
    * > td:nth-child(-n+12) {
        width: 4em;
    }
    * > td:nth-child(5), td:nth-child(7), td:nth-child(9), td:nth-child(11) {
        text-align: right;
    }
    * > td:nth-child(6) {
        width: 7em;
    }
    * > td:nth-child(7) {
        width: 6em;
    }
    * > td:nth-child(9),td:nth-child(10) {
        width: 2em;
    }
    .table {
        margin-bottom: 1em;
    }
}

#alerts {
    span {
        padding-left: 10px;
    }
    span:nth-child(1) {
        padding-left: 0px;
    }
    * > td:nth-child(1) {
        width: 20em;
    }
}
