body {
    background: black;
    color: #BBB;
    font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
}
.plugin {
    margin-bottom: 20px;
}
.plugin table {
    width: 100%;
}
.plugin table tr td:not(:first-child) {
    text-align: right;
}

.underline{
    text-decoration: underline
}
.bold{
    font-weight: bold;
}
.sort{
    font-weight: bold;
}
.sort:after{
    content: '\25BC'
}
.text-right {
    text-align: right;
}

/* Theme */

.title{
    font-weight: bold;
    color: white;
}
.ok {
    color: green;
}
.filter {
    color: cyan;
}
.ok_log {
    background-color: green;
    color: white;
}
.careful {
    color: blueviolet;
}
.careful_log {
    background-color: blueviolet;
    color: white;
}
.warning {
    color: orange;
}
.warning_log {
    background-color: orange;
    color: white;
}
.critical {
    color: red;
}
.critical_log {
    background-color: red;
    color: white;
}
.nice {
    color: magenta;
}
.status {
    color: green;
}
.process {
    color: green;
}

/* Plugins */
#cpu table tr td:nth-child(3),
#mem table tr td:nth-child(3),
#monitor table tr td:nth-child(3) {
    text-align: left;
    padding-left: 20px;
}
#processlist table tr td {
    text-align: right;
}
#processlist table tr td,
#docker table tr td {
    padding: 0px 5px 0px 5px;
    white-space: nowrap;
}
#processlist table tr td:nth-child(6),
#processlist table tr td:nth-child(12) {
    text-align: left;
}
#docker table tr td:nth-child(2),
#docker table tr td:nth-child(6) {
    text-align: left;
}