<div>
    <div ng-if="!vm.dataLoaded" class="container-fluid" id="loading-page">
        <div class="glances-logo"></div>
        <div class="loader">Loading...</div>
    </div>

    <glances-help ng-if="vm.arguments.help_tag"></glances-help>

    <div ng-if="vm.dataLoaded && !vm.arguments.help_tag" class="container-fluid">
        <div class="top-plugin">
            <div class="row">
                <div class="col-sm-24">
                    <div class="pull-left">
                        <glances-plugin-system></glances-plugin-system>
                    </div>
                    <div class="pull-left">
                        <glances-plugin-ip></glances-plugin-ip>
                    </div>
                    <div class="pull-right">
                        <glances-plugin-uptime></glances-plugin-uptime>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-24">
                        <div class="pull-left">
                            <glances-plugin-cloud></glances-plugin-cloud>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="hidden-xs hidden-sm hidden-md col-lg-6" ng-if="!vm.arguments.disable_quicklook">
                <glances-plugin-quicklook></glances-plugin-quicklook>
            </div>
            <div class="col-sm-6 col-md-8 col-lg-6" ng-if="!vm.arguments.disable_cpu && !vm.arguments.percpu">
                <glances-plugin-cpu></glances-plugin-cpu>
            </div>
            <div class="col-sm-12 col-md-8 col-lg-6" ng-if="!vm.arguments.disable_cpu && vm.arguments.percpu">
                <glances-plugin-percpu></glances-plugin-percpu>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3" ng-if="!vm.arguments.disable_gpu && vm.hasGpu">
                <glances-plugin-gpu></glances-plugin-gpu>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3" ng-if="!vm.arguments.disable_mem">
                <glances-plugin-mem></glances-plugin-mem>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3"
                 ng-if="!vm.arguments.disable_mem && !(!vm.arguments.disable_gpu && vm.hasGpu)">
                <glances-plugin-mem-more></glances-plugin-mem-more>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3" ng-if="!vm.arguments.disable_memswap">
                <glances-plugin-memswap></glances-plugin-memswap>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3" ng-if="!vm.arguments.disable_load">
                <glances-plugin-load></glances-plugin-load>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 sidebar" ng-if="!vm.arguments.disable_left_sidebar">
                <div class="table">
                    <glances-plugin-network id="plugin-network" class="plugin table-row-group" ng-if="!vm.arguments.disable_network"></glances-plugin-network>
                    <glances-plugin-connections id="plugin-connections" class="plugin table-row-group" ng-if="vm.isLinux && !vm.arguments.disable_connections"></glances-plugin-connections>
                    <glances-plugin-wifi id="plugin-wifi" class="plugin table-row-group" ng-if="!vm.arguments.disable_wifi"></glances-plugin-wifi>
                    <glances-plugin-ports id="plugin-ports" class="plugin table-row-group" ng-if="!vm.arguments.disable_ports"></glances-plugin-ports>
                    <glances-plugin-diskio id="plugin-diskio" class="plugin table-row-group" ng-if="!vm.arguments.disable_diskio"></glances-plugin-diskio>
                    <glances-plugin-fs id="plugin-fs" class="plugin table-row-group" ng-if="!vm.arguments.disable_fs"></glances-plugin-fs>
                    <glances-plugin-irq id="plugin-irq" class="plugin table-row-group" ng-if="vm.arguments.enable_irq"></glances-plugin-irq>
                    <glances-plugin-folders id="plugin-folders" class="plugin table-row-group" ng-if="!vm.arguments.disable_folders"></glances-plugin-folders>
                    <glances-plugin-raid id="plugin-raid" class="plugin table-row-group" ng-if="!vm.arguments.raid"></glances-plugin-raid>
                    <glances-plugin-sensors id="plugin-sensors" class="plugin table-row-group" ng-if="!vm.arguments.disable_sensors"></glances-plugin-sensors>
                </div>
            </div>
            <div class="col-sm-18">
                <glances-plugin-docker ng-if="!vm.arguments.disable_docker"></glances-plugin-docker>
                <glances-plugin-alert ng-if="!vm.arguments.disable_alert"></glances-plugin-alert>
                <glances-plugin-process></glances-plugin-process>
            </div>
        </div>
    </div>
</div>
