/*
:Author: Alessio Sergi
:Contact: al3hex at gmail dot com

Stylesheet for use with Docutils.

This file is the CSS for the Glances documentation.
*/

body {
  margin-top: 1em;
  margin-left: 1em;
  max-width: 80em;
  font-family: serif;
  font-size: 16px;
}

h1 {
  font-size: 20px;
}

h1.title {
  font-size: 22px;
}

h2, h3, p.topic-title {
  font-size: 18px;
}

.first {
  /* override p.topic-title margin styles */
  margin-top: 0 ! important;
}

a {
  color: #0055df;
  text-decoration: none;
}

a:hover {
  color: #339999;
  text-decoration: underline;
}

a:visited {
  color: #800080;
}

a.toc-backref {
  text-decoration: none;
  color: black;
}

blockquote {
  padding-left: 1ex;
  border-left: 1px solid #008000;
  max-width: 30em;
}

p.topic-title {
  font-weight: bold;
}

pre.code {
  margin-left: 2em;
  margin-right: 2em;
}

.console {
  background-color: #eeeeee;
  border: 1px solid #cccccc;
  max-width: 60em;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px 3px 3px 3px;
}

span.option, tt.docutils {
  white-space: nowrap;
  border: 1px dotted #008000;
  padding: 1px;
  background-color: #eeeeee;
}

.literal, .literal-block, .option, .var {
  font-family: monospace;
  font-size: 10pt;
}

dl.docutils {
  margin-left: 2em;
}

dl.docutils dd {
  margin-bottom: 0.5em;
}

ol.simple {
  margin-left: 0.5em;
}

table.docutils {
  margin-left: 2em;
}

td.option-group {
  padding-right: 1em;
}
