# Run unitary test + flake8

name: test

on: [push]

jobs:
  test-linux:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.7", "3.8", "3.9", "3.10"]

    steps:

    - uses: actions/checkout@v3

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

    - name: Lint with flake8
      run: |
        # Stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics --exclude=.git,./docs,./glances/outputs/static
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics --exclude=.git,./docs,./glances/outputs/static

    # - name: Lint with Ruff
    #   uses: chartboost/ruff-action@v1

    - name: Static type check
      run: |
        if [ "${{ matrix.python-version }}" == "2.7" ];
        then
          echo "Skipping static type check for Python 2.7";
        else
          echo "Skipping static type check for the moment, too much error...";
          # pip install pyright
          # pyright glances
        fi

    - name: Unitary tests
      run: |
        python ./unitest.py

    - name: Security issues with Bandit
      uses: jpetrucciani/bandit-check@master
      with:
        #path: '-r --exit-zero --skip B104 ./glances/'
        path: '-r --exit-zero --skip B104 ./glances/'


  test-windows:

    runs-on: windows-latest
    strategy:
      matrix:
        python-version: ["3.7", "3.8", "3.9", "3.10", "3.11"]

    steps:

    - uses: actions/checkout@v3

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        if (Test-Path -PathType Leaf "requirements.txt") { python -m pip install -r requirements.txt }
        python setup.py install

    - name: Unitary tests
      run: |
        python ./unitest.py
